* {
    box-sizing:border-box;
}
.App__header {
    text-align: center;
}
form {
    margin-left:auto;
    margin-right:auto;
    width:80%;
    background-color: rgba(100,100,100,0.85);
    border-radius:6px;
}

/*Login>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.Login_container {
    display: inline-block;
    min-width:100%
}
.Login_form {
    border-style: solid;
    border-color:black;
    border-width: 2px;
    max-height:30%;
    max-width:70%;
}
.Login_header {

}
/*I would like to make a similar input field color to background color*/
.Login_label {
    margin:0.35rem 0.5rem;
    display:block;
    max-height:5%;
}
.Login_input {
    display:block;
    width:100%;
    min-height:35px;
}
.Login_buttoncontainer {
    display:block;
    text-align: center;
    max-height:23%;
    margin-top:3%;
}
.Login_button {
    text-align: center;
    height:1.75rem;
    margin-bottom:.5rem;
}
.Login_signup {
    display: block;
    text-align:center;
    max-height:10%;
}

/*Sign Up>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.SignUp_container {
    display: inline-block;
    min-width:100%
}
.SignUp_header {
    text-align:center;
}
.SignUp_form {
    border-style: solid;
    border-color:black;
    border-width: 2px;
    max-height:30%;
    max-width:70%;
}
.SignUp_label {
    margin:0.35rem 0.5rem;
    display:block;
    max-height:5%;
}
.SignUp_input {
    display:block;
    width:100%;
    min-height:35px;
}
.SignUp_button_container {
    display:block;
    text-align: center;
    max-height:23%;
    margin-top:3%;
}
.SignUp_button {
    text-align: center;
    height:1.75rem;
    margin-bottom:.5rem;
}

/*List unit for homepage>>>>>>>>>>>>>>>>>>*/

.List{
    display:flex;
    border-style:solid;
    border-color:black;
    border-width:1px;
    max-width:90%;
    text-align:right;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2%;
}
.ListHomePage__List-link {
    display:inline-block;
    text-align:center;
    padding-left:.75rem;
    padding-top:.5rem;
}
.List_Buttons_Container{
    display:inline-block;
    border-style:solid;
    border-color:blue;
    border-width:1px;
    text-align:center;
    margin-left:auto;
}
.List__delete {
    display:block;
    border-style:solid;
    border-color:black;
    border-width:1px;
}
.Share_List_Link {
    display:block;
    border-style:solid;
    border-color:black;
    border-width:1px;
}

/*homepage>>>>>>>>>>>>>>>>>>>>>>>>>*/

.Homepage_Container {
    border-style: solid;
    border-color:black;
    border-width: 3px;
    border-radius: 4%;
    max-width:80%;
    margin-left:auto;
    margin-right:auto;
}
.Dashboard_container {

    display:block;
    text-align:center;
    height:auto;
}
.ListHomePage_container {

}
.ListMainNav_container {
    border-style: solid;
    border-color: blue;
    border-width: 2px;
}
.ListHomePage_h2 {
    display:inline-block;
    padding:0px;
    margin:3%;
}
.ListHomePage_shared_lists_h2 {
    display:inline-block;
    padding:0px;
    margin:3%;
}
.ListHomePage__list_ul {
    display:block;
    padding:0;
}
.ListHomePage__sharedLists__ul {
    display:block;
    padding:0;
}
.ListMain_itemlistcontainer {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
/*would like to make circular*/
.ListHomePage_addlist{
    font-size:25px;
    height:40px;
    width:40px;
    border-radius:50%;
    border-style:solid;
    border-color:black;
    border-width:1px;
    display:inline-block;
    margin-left:46%;
    padding:0px;
    
}

/*Add List >>>>>>>>>>>>>>>>>>>>*/

.AddList_container {
    border-style:solid;
    border-color:black;
    border-width:2px;
    height: 200px;
    display:block;
    text-align:center;
}
.AddList_form {
    border-style:solid;
    border-color:purple;
    border-width:1px;
    display:block;
    width: 60%;

}
.AddList_label {
    border-style:solid;
    border-color:green;
    border-width:1px;
}
.AddList_input {
    border-style:solid;
    border-color:red;
    border-width:1px;
    display:block;
    height:25px;
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
    margin-bottom:5%;

}
.AddList_button {
    border-style:solid;
    border-color:blue;
    border-width:1px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:3%;


}
.AddList_cancel-button {
    display:block;
}

/*ListMain>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.ListMain_itemlistcontainer {

}
.ListMain_itemlist {

}
.ListMain_item {

}
.ListMainNav_container {

}
.ListMainNav_navbar {

}
.ListMainNav_header {

}
.ListMainNav_additem {

}

/*Item Unit for List Main >>>>>>>>>>>>>>>>>>>>*/
.Item {

}
.Item__title {

}
.Item__priorities {

}
.Item_Priority {

}
.Item__content {

}
.Content {

}
.Item__delete {

}

/*Add Item >>>>>>>>>>>>>>>>>>>>>>>>*/

.AddItem_container {

}
.AddItem_form {
    padding-bottom:3%;
    width:60%;
}
.AddItem_label {
    display:block;
    padding-top:3%;
    padding-bottom:3%;
    padding-left:3%;
}
.AddItem_input {
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:3%;
}
.AddItem_textarea {
    display:block;
    margin-left:auto;
    margin-right:auto;
    min-width:65%;
    padding-bottom:7%;
}
#AddItem_priority {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
#AddItem_listselector {

}
.AddItem_button {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:3%;
}

/*share>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.ShareList_container {
    border-style:solid;
    border-color:red;
    border-width:1px;

}
.ShareList_header {
    border-style:solid;
    border-color:blue;
    border-width:1px;
    display:block;
    text-align:center;
}
.ShareList_form {
    border-style:solid;
    border-color:red;
    border-width:1px;

}
.ShareList_input_container {
    text-align:center;
    margin-top:3%;
}
.ShareList_label {
    margin-right:3%;
}
.ShareList_input {
    
}
.ShareList_content {
    border-style:solid;
    border-color:red;
    border-width:1px;
    text-align:center;

}
.ShareList_button {
    border-style:solid;
    border-width:1px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:3%;
}
.ShareList_cancel_button {

}


@media screen and (min-width:768px) {

    form {
      width:50%;
    }
    button {
      width:30%;
      font-size:24px;
    }
}
@media screen and (min-width:1024px) {

    form {
      width:40%;
    }
}  

@media screen and (min-width:1200px) {

}
  