* {
    box-sizing:border-box;
}
html {
    height:100%;
    background-image: url(Images/Background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
.App__header {
    text-align: center;
}
form {
    margin-left:auto;
    margin-right:auto;
    max-width:80%;
    width:80%;
    background-color: rgba(191, 203, 211, 0.904);
    border-radius:6px;
}
label {
    font-weight:bold;
}

/*Login>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.Login_container {
    display: inline-block;
    min-width:100%
}
.Login_form {
    border-style: solid;
    border-color: rgba(210, 221, 228, 0.904);
    border-width: 3px;
    max-height:30%;
    max-width:70%;
}
.Login_header {

}
/*I would like to make a similar input field color to background color*/
.Login_label {
    margin:0.35rem 0.5rem;
    display:block;
    max-height:5%;
}
.Login_input {
    display:block;
    width:100%;
    min-height:35px;
    border-width:1px;
    border-radius:4px;
    border-color: rgba(210, 221, 228, 0.904);

}
.Login_buttoncontainer {
    display:block;
    text-align: center;
    max-height:23%;
    margin-top:3%;
    
}
.Login_button {
    text-align: center;
    height:1.75rem;
    width:30%;
    margin-bottom:.5rem;
    border-width:1px;
    border-color: rgba(210, 221, 228, 0.904);
    border-radius:4px;

}
.Login_signup {
    display: block;
    text-align:center;
    max-height:10%;
}

/*Sign Up>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.SignUp_container {
    display: inline-block;
    min-width:100%
}
.SignUp_header {
    text-align:center;
}
.SignUp_form {
    border-style: solid;
    border-color: rgba(210, 221, 228, 0.904);
    border-width: 3px;
    max-height:30%;
    max-width:70%;
}
.SignUp_label {
    margin:0.35rem 0.5rem;
    display:block;
    max-height:5%;
}
.SignUp_input {
    display:block;
    width:100%;
    min-height:35px;
    border-width:1px;
    border-radius:4px;

    border-color: rgba(210, 221, 228, 0.904);

}
.SignUp_button_container {
    display:block;
    text-align: center;
    max-height:23%;
    margin-top:3%;
}
.SignUp_button {
    text-align: center;
    height:1.75rem;
    margin-bottom:.5rem;
    border-width:1px;
    border-radius:4px;
    border-color: rgba(210, 221, 228, 0.904);

}

/*List unit for homepage>>>>>>>>>>>>>>>>>>*/

.List{
    display:flex;
    border-style:solid;
    border-color: rgba(210, 221, 228, 0.904);
    border-width:2px;
    border-radius:4px;
    max-width:90%;
    text-align:right;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2%;
    background-color: rgba(240, 240, 240, 0.993);
}
.ListHomePage__List-link {
    box-sizing:border-box;
    display:inline-flex;
    text-align:left;
    min-width:200px;
    margin:0;
    padding:0;
    text-decoration:none;
    color:black;
}
.List_Buttons_Container{
    display:inline-block;
    text-align:center;
}
.List__delete {
    display:block;
    border-style:solid;
    border-color: rgba(210, 221, 228, 0.904);
    border-width:2px;
}
.Share_List_Link {
    display:block;
    border-style:solid;
    border-color: rgba(210, 221, 228, 0.904);
    border-width:2px;
    text-decoration:none;
    color:black;
}

/*homepage>>>>>>>>>>>>>>>>>>>>>>>>>*/

.Homepage_Container {
    border-style: solid;
    border-color: rgba(210, 221, 228, 0.904);
    border-width: 3px;
    border-radius: 4%;
    max-width:80%;
    margin-left:auto;
    margin-right:auto;
    background-color: rgba(191, 203, 211, 0.904);

}
.Dashboard_container {

    display:block;
    text-align:center;
    height:auto;
}
.ListHomePage_container {

}
.ListMainNav_container {
    border-style: solid;
    border-color: rgba(210, 221, 228, 0.904);
    border-width: 2px;
}
.ListHomePage_h2 {
    display:inline-block;
    padding:0px;
    margin:3%;
}
.ListHomePage_shared_lists_h2 {
    display:inline-block;
    padding:0px;
    margin:3%;
}
.ListHomePage__list_ul {
    display:block;
    padding:0;
}
.ListHomePage__sharedLists__ul {
    display:block;
    padding:0;
}
.ListMain_itemlistcontainer {
    border-style: solid;
    border-color: rgba(210, 221, 228, 0.904);
    border-width: 2px;
}
/*would like to make circular*/
.ListHomePage_addlist{
    font-size:25px;
    height:40px;
    width:40px;
    border-radius:50%;
    border-style:solid;
    border-color: rgba(210, 221, 228, 0.904);
    border-width:2px;
    /* display:inline-block; */
    float:right;
    margin-right:10%;
    padding:0px;
    
}

/*ListMain>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.ListMain_itemlistcontainer {
    max-width:80%;
    margin-left:auto;
    margin-right:auto;
    border: none;
}
.ListMain_itemlist {
    list-style:none;
    padding:0;
}
.ListMain_item {
    display:block;
}
.ListMainNav_container {
    border-style:solid;
    border-color: rgba(210, 221, 228, 0.904);
    border-width:2px;
    border-radius:8px;
    background-color: rgba(191, 203, 211, 0.904);


}
.ListMainNav_navbar {
    text-align:center;
    text-transform:capitalize;

}
.ListMainNav_header {
    display:inline-block;

}
.ListMainNav_additem {
    float:right;
    margin:1rem;
    margin-top:1.5rem;
}
.ListMainNav_back {
    float:left;
    text-decoration:none;
    color:black;
    font-weight:bold;
    border-style:solid;
    border-color: rgba(210, 221, 228, 0.904);
}

/*Item Unit for List Main >>>>>>>>>>>>>>>>>>>>*/
.Item {
    display:block;
    border-style:solid;
    border-color: rgba(210, 221, 228, 0.904);
    border-width:2px;
    border-radius:8px;
    background-color: rgba(191, 203, 211, 0.904);
    margin-bottom: .5rem;
}
.Item_top_container {
    display:block;
    overflow:hidden;
}
.Item__title {
    display:block;
    float:left;
    margin:.5rem;
    text-transform:capitalize;

}
.Item__priorities {
    display:inline-block;
    text-align:left;
    margin: 0 .75rem;
    font-weight:bold;
}
.Item_Priority {
    display:inline-block;
}
.Item__content {
    display:block;
    text-align:center;
}
.Content {

}
.Item__delete {
    display:block;
    float:right;
    height:1.75rem;
    margin:.5rem;
    margin-top:1rem;
}

/*Add List >>>>>>>>>>>>>>>>>>>>*/

.AddList_container {
    height: 200px;
    display:block;
    text-align:center;
}
.AddList_form {
    border-style:solid;
    border-width:2px;
    border-color: rgba(210, 221, 228, 0.904);
    border-radius:4px;
    display:block;
    width: 80%;
    overflow:auto;
}
.AddList_input {
    display:inline-block;
    width:100%;
    min-height:35px;
    margin-left:auto;
    margin-right:auto;
    margin-top:1.5rem;
    margin-bottom:5%;
    text-align:center;
    border-width:1px;
    border-radius:4px;

    border-color: rgba(210, 221, 228, 0.904);


}
.AddList_button {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:.75rem;
    height:1.75rem;
    width:30%;
    border-width:1px;
    border-radius:4px;
    border-color: rgba(210, 221, 228, 0.904);



}
.AddList_cancel-button {
    display:block;
}


/*Add Item >>>>>>>>>>>>>>>>>>>>>>>>*/

.AddItem_container {

}
.AddItem_form {
    border-style:solid;
    border-width:2px;
    border-color: rgba(210, 221, 228, 0.904);
    padding-bottom:3%;
    width:80%;
}
.AddItem_label {
    display:block;
    padding-top:3%;
    padding-bottom:3%;
    padding-left:3%;
    font-weight:bold;
    text-transform:capitalize;

}
.AddItem_input {
    display:block;
    width:100%;
    min-height:35px;
    margin-left:auto;
    margin-right:auto;
    margin-top:.5rem;
    margin-bottom:.5rem;
    text-align:center;
    border-width:1px;
    border-radius:4px;
    border-color: rgba(210, 221, 228, 0.904);


}
.AddItem_textarea {
    display:block;
    margin-left:auto;
    margin-right:auto;
    min-width:75%;
    padding-bottom:10%;
    border-width:1px;
    border-radius:4px;
    border-color: rgba(210, 221, 228, 0.904);

}
#AddItem_priority {
    display:block;
    margin:0 auto 1.5rem auto;
}
.AddItem_button {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:3%;
    height:1.75rem;
    border-width:1px;
    border-radius:4px;
    border-color: rgba(210, 221, 228, 0.904);

}

/*share>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.ShareList_container {

}
.ShareList_header {
    display:block;
    text-align:center;
}
.ShareList_form {
    border-style:solid;
    border-color: rgba(210, 221, 228, 0.904);
    border-width:2px;
    max-width:80%;
    text-align:center;

}
.ShareList_input_container {
    margin:0;
    display:block;
    text-align:center;
    padding:0;
    border-width:0;
}
.ShareList_label {
    display:block;
    padding-top:.5rem;
    margin-right:3%;
    font-weight:bold;
}
.ShareList_input {
    
    border-radius:4px;
    text-align:center;
    display:block;
    width:100%;
    min-height:35px;
    margin: .5rem auto 0 auto;
    border-width:1px;
    border-color: rgba(210, 221, 228, 0.904);
}
.ShareList_content {
    text-align:center;
}
.ShareList_button {
    border-style:solid;
    border-width:1px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:3%;
    height:1.75rem;
    width:30%;
    border-width:1px;
    border-color: rgba(210, 221, 228, 0.904);


}
.ShareList_cancel_button {

}

@media screen and (min-width:640px) {
    .App__header {
        font-size:24px;
    }
    .ListHomePage__List-link {
    position:relative;
    z-index: 1;
    padding-right:15em;
    margin-right:auto;
    }
    .ListMainNav_header {
        font-size:32px;
    }
    .Item__title {
        margin-left:1.5rem;
    }
    .Item__priorities {
        margin-left:1.5rem;
    }
    .Content {
        font-size:22px;
    }
    .AddItem_label {
        font-size:22px;
    }
    #AddItem_priority {
        width:3rem;
    }
    .ShareList_label {
        font-size:22px;
    }
}
@media screen and (min-width:768px) {
    .App__header {
        margin: 5rem 0;
    }
    form {
      width:80%;
    }
    label {
        font-size:22px;
    }
    button {
      /* width:30%; */
      font-size:20px;
    }
    .Dashboard_header {
        font-size:30px;
    }
    .ListHomePage__List-link {
        font-size:22px;
    }
}
@media screen and (min-width:1024px) {

    form {
      width:40%;
    }
}  

@media screen and (min-width:1200px) {

}
  